/* HTML STYLES 
could'nt figure out how to make the message box bigger
*/


.mainbody {
    background-color: #f2f2f2;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    border: 2px solid rgb(241,120,120);
    border-radius: 25px;
    padding: 15px;
    margin-top: 15px;
    
}

p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(107, 94, 94);
}


h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: rgb(241, 120, 120);
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 .topnav a.active {
    background-color: rgb(107, 94, 94);
    color: white;
  }

.topnav-right {
    float: right;
}

.nav-title {
    padding-left: 2px;
    background-color: antiquewhite;
    border-color: black;
    margin-left: 30%;
    margin-right: 57%;
    border-radius: 5px;
}

.thumbnail {
    border: 2px solid;
    border-color: rgb(107, 94, 94);
    border-radius: 4px
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }

.messagebox {
    width: 100%;
    height:100%;
}

html, body, #wrapper
{
width: 100%;
height: 100%;
}
#container
{
width: 960px;
margin: 0 auto;
}

.container {
    position: relative;
    width: 50%;
  }
  
  
  .container img {
    width: 40%;
    height: auto;
  }
  
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }